body {
  background-color: #92a8d1;
}

h1 {
  font-size: medium;
  background-color: lightslategray;
}
.action-button.add {
  margin-left: 5px;
  background-color: green; /* Red */
}
.my-disable {
  pointer-events: none;
}
